// ----- NextVideosList Styling -----

@use './../../styles/mixins' as *;
@use './../../styles/variables' as *;


.videos-list{
    min-width: 320px;
    padding: 0 16px;

    @include tablet-breakpoint {
        padding: 0.5rem 40px;
    }
    @include desktop-breakpoint {
        padding: 0.5rem 1.5rem 2rem;
    }


    &__header {
        margin: 1.25rem 0;

        @include tablet-breakpoint {
            margin: 1.5rem 0 1.75rem;
            font-size: 12.5px;
        }
        @include desktop-breakpoint {
            margin: 1.25rem 0 1rem;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: 0.85rem;

        @include desktop-breakpoint {
            gap: 1.5rem;
        }
    }
}