// ----- SCSS Mixins -----

@use './variables' as *;

// --- Breakpoint Mixins ---
@mixin mobile-breakpoint {
    @media screen and (min-width: $mobile-breakpoint) {
        @content;
    }
}

@mixin tablet-breakpoint {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop-breakpoint {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

// --- Helper Mixins ---
@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}